<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora,
      tenetur! Doloremque, pariatur sit esse sint necessitatibus enim incidunt
      ipsam praesentium sunt animi voluptatem consequatur id earum consectetur
      dolores inventore mollitia, voluptatibus iste magni quod nisi porro vitae
      natus consequuntur. Doloribus.
    </p>
  </div>
</div>
