
<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis. Blanditiis dolor aut et vel aperiam corporis quisquam alias, sed voluptatem ad accusamus temporibus optio aspernatur repudiandae ex sequi doloribus!</p>
  <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>


